*.o
.dotest
*~
*.so
*.so.0
*.a
*.gz
kpartx/kpartx
multipath/multipath
multipathd/multipathd
mpathpersist/mpathpersist
.nfs*
libdmmp/docs/man/*.3
libdmmp/*.so.*
libdmmp/test/libdmmp_test
libdmmp/test/libdmmp_speed_test
